<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add product</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/product.css">
<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <form class="product-form" action="/add-product" method="POST">
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" name="title" id="title">
            </div>
            <div class="form-control">
                <label for="imageUrl">Image url</label>
                <input type="text" name="imageUrl" id="imageUrl">
            </div>
            <div class="form-control">
                <label for="price">price</label>
                <input type="number" name="price" id="price" step="0.01">
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea rows="5" name="description" id="description"></textarea>
            </div>
            <button class="btn" type="submit">Add Product</button>
        </form>
    </main>
</body>
</html>
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add product</title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
    <header class="add-product">
        <nav>
            <ul>
                <li><a href='/'>Shop</a></li>
                <li><a href='/add-product'>Add Product</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action='/product' method='POST'>
            <input type='text' name='title' >
            <button type='submit'>Add Product</button>
        </form>
    </main>
</body>
</html> -->
