<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product list</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
       
        <!-- authentication -->
        <main>
            <% if(products.length> 0){ %>
                <ul>
                    <% products.forEach(p=> { %>
                        <li>
                            <p><%= p.title %>(<%= p.cartItem.quantity %> )</p>
                            <form action="/cart-delete-item" method="POST" >
                                <input type="hidden" value="<%= p.cartItem.id %>" name="productId" >
                                <button class="btn" type="submit">Delete</button>
                            </form>
                        </li>
                        <% }) %>
                </ul>

                <form action="/create-order" method="POST">
                    <button class="btn" type="submit">Order Now</button>
                </form>
                <% } else {%>
                    <h1>No products in Cart!</h1>
                    <% } %>
        </main>
</body>

</html>