<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product list</title>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <main class="centered">
        <h1><%= product?.title %></h1>
        <hr>
        <div>
            <img src="<%= product?.imageUrl %>" alt="<%= product?.title %>">
        </div>
        <h2><%= product?.price %></h2>
        <p><%= product?.description %></p>
        <%- include('../includes/add-to-cart.ejs',{product:product}) %>
    </main>
</body>
</html>